body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.hoofd {
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 20px;
}

.introductie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
}

.foto {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid #ffd166;
}

.tekst {
   max-width: 800px;
   text-align: center;
}

.tabel {
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

.tabel td {
    border: 1px solid #ffffff;
    padding: 8px;
}

.tabel tr:nth-child(even) {
    background-color: #1f1f1f;
}

.tabel tr:nth-child(odd) {
    background-color: #424242;
}

.blokjes {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
}

.blokjes h2 {
    color: #ffc43b;
}

.strong-kleur strong {
    color: #fff7ad;
}

.blokjes-rij {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.blokjes h3 {
    color: #fff7ad;
}


@media screen and (max-width: 576px) {
    .blokjes-rij {
        flex-direction: column;   
    }
}
